<article class="style-article" id="football">
    <img src="<%= img %> " alt="<%= title %>">
    <h3>
        <%= title %>
    </h3>
    <p>
        <%= brand %>
    </p>
    <p>
        $<%= price  %>
    </p>
    <a href="/product/<%= id %>">Ver más</a>
</article>